
@model MultiTenant.Application.Models.MultiTenants.Account.AccountViewModel
@{
    ViewData["Title"] = "Create account";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <h2 style="font-weight:500">Create account</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="Create" id="create-acc-form" enctype="multipart/form-data" class="form-horizontal form-material mx-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div class="card-img ">
                                @*<img src="@(Model.nhanVien != null? Url.Content("/img"+Model.nhanVien.Avt) :"/img/icon.png")" height="200" width="200" id="previewImg" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block;" />*@
                                <img src="@(Model.accountCreate.Avatar != null? Url.Content(Model.accountCreate.Avatar) :"/img/main/avatar-default-icon.png")" id="output" height="240" width="240" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block; border-radius: 50%;" />
                                <br />
                                <input asp-for="accountCreate.UploadAvt" accept="image/*" style="margin-left: auto; margin-right: auto; display: block;" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                            </div>

                        </div>
                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*"  onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])"/>*@

                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*" onchange="ChangeImage(this,'#previewImg')" />*@

                        <div class="form-group">
                            <label asp-for="accountCreate.UserName" style="display:inline" class="control-label col-md-12 mb-0"></label><span class="text-danger">*</span>
                            <div class="col-md-12">
                                  <input asp-for="accountCreate.UserName" class="form-control ps-0 form-control-line label-color" />
                                  <span asp-validation-for="accountCreate.UserName" id="Err_UserName" class="text-danger"></span>
                                  <span class="text-danger" id="UserNameExist"></span>
                            </div>
                          
                        </div>
                        <div class="form-group">
                            <label asp-for="accountCreate.Password" style="display:inline" class="control-label col-md-12 mb-0"></label><span class="text-danger">*</span>
                            <div class="col-md-12">
                                 <input asp-for="accountCreate.Password" class="form-control ps-0 form-control-line label-color" type="password" />
                                 <span asp-validation-for="accountCreate.Password" class="text-danger" id="Err_Password"></span>
                            </div>
                           
                        </div>

                        <div class="form-group">
                            <label asp-for="accountCreate.Name" style="display:inline" class="control-label col-md-12 mb-0"></label><span class="text-danger">*</span>
                            <div class="col-md-12">
                                <input asp-for="accountCreate.Name" class="form-control ps-0 form-control-line label-color" />
                                <span asp-validation-for="accountCreate.Name" id="Err_Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="accountCreate.Email" style="display:inline" class="control-label col-md-12 mb-0"></label><span class="text-danger">*</span>
                            <div class="col-md-12">
                                 <input asp-for="accountCreate.Email" class="form-control" />
                            <span asp-validation-for="accountCreate.Email" id="Err_Email" class="text-danger"></span>
                            </div>
                           
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-12 mb-0 ">Role</label>
                            <div class="col-md-12">
                                <select asp-for="accountCreate.Role" class="form-control">

                                    <option value="1">Admin</option>
                                    <option value="2">Customer</option>
                                </select>
                            </div>
                        </div>
                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*" onchange="ChangeImage(this,'#previewImg')" />*@

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Back</a>
                        </div>
                       
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
