
@{ ViewData["Title"] = "Edit Tenant";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model MultiTenant.Application.Models.MultiTenants.Tenants.TenantViewModel
    <!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <h2 style="font-weight:500">Edit Tenant</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link ">
                <span>List Tenant</span>
            </a>
        </li>
        @*<li class="nav-item">
                <a asp-action="Create" class="nav-link ">
                    <span>Create</span>
                </a>
            </li>*@
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="Edit" id="edit-tenant-form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="tenantEdit.TenantId" class="control-label"></label>
                            <input asp-for="tenantEdit.TenantId" class="form-control" readonly />
                            <span asp-validation-for="tenantEdit.TenantId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="tenantEdit.DbName" class="control-label"></label><span class="text-danger"> *</span>
                            <input asp-for="tenantEdit.DbName" class="form-control" readonly />
                            <span asp-validation-for="tenantEdit.DbName" class="text-danger" id="Err_DbName"></span>
                            <span class="text-danger" style="font-size:20px;" ></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="tenantEdit.URL" class="control-label"></label>
                            <input asp-for="tenantEdit.URL" class="form-control"  readonly/>
                            <span asp-validation-for="tenantEdit.URL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="tenantEdit.UploadFavicon" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="tenantEdit.UploadFavicon" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" >
                            @if (Model.tenantEdit != null)
                            {
                                <img src="@Model.tenantEdit.Favicon" asp-append-version="true" width="120" height="90" id="output" />
                            }
                            <span asp-validation-for="tenantEdit.UploadFavicon" class="text-danger" hidden></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @*<input type="button" value="Delete" class="btn btn-outline-danger" onclick="DeleteAcc()" />*@
                            <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
                            @*<a asp-action="Delete" class="btn btn-outline-danger" onclick="">Delete</a>*@
                            @*<div id="toastDelete">Deleted successfully!</div>*@
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>